:root{
    --bg-color: white;
    --text-color: black;
}
.dark-mode {
  --bg-color: black;
  --text-color: white;
}
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    transition: background-color 0.5s ease; color: 0.5s ease;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    background-color: var(--bg-color);
    color: var(--text-color);
}
main {
    flex: 1;
}
/* navigation bar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    height: 50px;
}
.navbar a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1.25em;
    background-color: hsl(0, 0%, 50%);
    padding: 10px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-links a:hover {
    background-color: hsl(0, 0%, 36%);
}
.logo img {
    max-height: 53px;
}
.nav-links {
    display: flex;
}
/* footer */
footer {
    width: 100%;
    padding: 15px;
    text-align: center;
    background-color: #333;
    color: white;
}
/* reused elements */
#page-title {
    font-size: 3em;
    margin: 15px;
    text-align: center;
    text-shadow: 1px 1px 0 var(--bg-color), -1px -1px 0 var(--bg-color), 1px -1px 0 var(--bg-color), -1px 1px 0 var(--bg-color);
}
/* home page */
.home-page main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    text-align: center;
    max-width: 70vw;
}
.home-page .buttons {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.home-page .buttons button {
    padding: 10px 20px;
    margin-top: 10px;
    font-size: 1.5em;
    width: 200px;
    cursor: pointer;
    border-radius: 20px;
}
.home-page .buttons button:hover {
    background-color: gray;
}
/* story selection page */
.story-selection-page main {
    flex: 1;
    text-align: center;
}
.stories-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 0px 30px 20px 30px;
    gap: 10px;
}
.story-container {
    display: flex;
    flex-direction: column;
    border: 2px solid var(--text-color);
    margin-top: 5px;
    width: 350px;
    overflow: hidden;
}
.story-container:hover {
    box-shadow: 0 0 12px gold, 0 0 40px gold;
    transition: box-shadow 0.125s ease;
    transform: scale(1.025);
}
.story-container img {
    width: 100%;
    height: 250px;
}
.story-container a {
    text-decoration: none;
    color: var(--text-color);
}
.choice-page {
    text-align: center;
}

/* story choice page */
.choice-page body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.choice-page main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.choice-page #narration-box {
    text-align: center;
    padding: 1rem 0.5rem;
    border: 2px solid var(--text-color);
    width: 500px;
    align-items: center;
    background-color: var(--bg-color);
}
.choice-page #choice-box {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.choice-page #choice-box button {
    padding: 10px 20px;
    margin-top: 10px;
    width: 500px;
    cursor: pointer;
    border-radius: 20px;
}
.choice-page #choice-box button:hover {
    background-color: gray;
}

/* settings & progress page */
.settings-progress-page #settings-progress-container {
    display: flex;
    gap: 1rem;
    padding: 1rem;
    flex-wrap: wrap;
}
#settings-box, #progress-box {
    flex: 1;
    min-width: 300px;
    padding: 1rem;
    border: 3px solid var(--text-color);
    background-color: hsl(0, 0%, 50%);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
#settings-box button {
    width: 150px;
    padding: 5px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    background-color: hsl(0, 100%, 50%);
    color: var(--text-color);
    border: 1px solid var(--text-color);
}
#settings-box button:hover {
    background-color: hsl(0, 100%, 41%);
}
button:active {
  transform: scale(0.98);
}
